.bottom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.bottom-navbar__background {
  background-color: #121212;
  padding: 10px 0;
}

.bottom-navbar__button {
  position: relative;
  text-align: center;
}

.bottom-navbar__button--notification::after {
  content: attr(data-notification);
  height: 10px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -3px;
  right: 7px;
  font-size: 8px;
  text-align: center;
  font-weight: 500;
  border-radius: 50%;
  background-color: #e50914;
}

.bottom-navbar__text {
  font-size: 8px;
  font-style: normal;
  color: #8c8787;
  text-align: center;
  margin-top: 3px;
}
