html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  max-width: 430px;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:visited,
a:hover,
a:focus {
  text-decoration: none;
  color: #fff;
}
